In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/raw/ca-2225.csv")
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0,-,249,-,47,-,50,-,CALIFORNIA,NaN,20220101039,POINT (-119.662127 37.211164)
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0,-,212,-,10,-,61,-,CALIFORNIA,NaN,20220101459,POINT (-119.662127 37.211164)
2,CALIFORNIA,2022,1,"Measles, Imported",NaN,-,0,-,NaN,-,NaN,-,CALIFORNIA,NaN,20220104049,POINT (-119.662127 37.211164)
3,CALIFORNIA,2022,1,"Measles, Indigenous",NaN,-,0,-,NaN,-,NaN,-,CALIFORNIA,NaN,20220104119,POINT (-119.662127 37.211164)
4,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0,-,102,-,1,-,4,-,CALIFORNIA,NaN,20220105659,POINT (-119.662127 37.211164)

In [3]:
df.shape

(1106, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 16 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Reporting Area                           1106 non-null   object
 1   Current MMWR Year                        1106 non-null   int64
 2   MMWR WEEK                                1106 non-null   int64
 3   Label                                    1106 non-null   object
 4   Current week                             703 non-null    float64
 5   Current week, flag                       950 non-null    object
 6   Previous 52 week Max                     1106 non-null   int64
 7   Previous 52 weeks Max, flag              878 non-null    object
 8   Cumulative YTD Current MMWR Year         935 non-null    object
 9   Cumulative YTD Current MMWR Year, flag   892 non-null    object
 10  Cumulative YTD Previous MMWR Year        852 non-null    object
 11  Cumulative YTD Previous MMWR Year, flag  886 non-null    object
 12  LOCATION1                                1106 non-null   object
 13  LOCATION2                                0 non-null      float64
 14  sort_order                               1106 non-null   int64
 15  geocode                                  1106 non-null   object
dtypes: float64(2), int64(4), object(10)
memory usage: 138.4+ KB

In [5]:
df = df.drop("Current week, flag", axis=1)
df = df.drop("Previous 52 weeks Max, flag", axis=1)
df = df.drop("Cumulative YTD Current MMWR Year, flag", axis=1)
df = df.drop("Cumulative YTD Previous MMWR Year, flag", axis=1)
df = df.drop("LOCATION2", axis=1)
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,Previous 52 week Max,Cumulative YTD Current MMWR Year,Cumulative YTD Previous MMWR Year,LOCATION1,sort_order,geocode
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0,249,47,50,CALIFORNIA,20220101039,POINT (-119.662127 37.211164)
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0,212,10,61,CALIFORNIA,20220101459,POINT (-119.662127 37.211164)
2,CALIFORNIA,2022,1,"Measles, Imported",NaN,0,NaN,NaN,CALIFORNIA,20220104049,POINT (-119.662127 37.211164)
3,CALIFORNIA,2022,1,"Measles, Indigenous",NaN,0,NaN,NaN,CALIFORNIA,20220104119,POINT (-119.662127 37.211164)
4,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0,102,1,4,CALIFORNIA,20220105659,POINT (-119.662127 37.211164)

In [6]:
df = df[~df['Label'].str.contains('measles, imported|measles, indigenous', case=False, na=False)]
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,Previous 52 week Max,Cumulative YTD Current MMWR Year,Cumulative YTD Previous MMWR Year,LOCATION1,sort_order,geocode
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0,249,47,50,CALIFORNIA,20220101039,POINT (-119.662127 37.211164)
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0,212,10,61,CALIFORNIA,20220101459,POINT (-119.662127 37.211164)
4,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0,102,1,4,CALIFORNIA,20220105659,POINT (-119.662127 37.211164)
5,CALIFORNIA,2022,2,Campylobacteriosis,30.0,249,83,135,CALIFORNIA,20220201039,POINT (-119.662127 37.211164)
6,CALIFORNIA,2022,2,Coccidioidomycosis,8.0,206,20,273,CALIFORNIA,20220201459,POINT (-119.662127 37.211164)

In [7]:
df = df.reset_index(drop=True)
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,Previous 52 week Max,Cumulative YTD Current MMWR Year,Cumulative YTD Previous MMWR Year,LOCATION1,sort_order,geocode
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0,249,47,50,CALIFORNIA,20220101039,POINT (-119.662127 37.211164)
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0,212,10,61,CALIFORNIA,20220101459,POINT (-119.662127 37.211164)
2,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0,102,1,4,CALIFORNIA,20220105659,POINT (-119.662127 37.211164)
3,CALIFORNIA,2022,2,Campylobacteriosis,30.0,249,83,135,CALIFORNIA,20220201039,POINT (-119.662127 37.211164)
4,CALIFORNIA,2022,2,Coccidioidomycosis,8.0,206,20,273,CALIFORNIA,20220201459,POINT (-119.662127 37.211164)

In [8]:
df = df.drop("sort_order", axis=1)
df = df.drop("geocode", axis=1)
df = df.drop("LOCATION1", axis=1)
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,Previous 52 week Max,Cumulative YTD Current MMWR Year,Cumulative YTD Previous MMWR Year
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0,249,47,50
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0,212,10,61
2,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0,102,1,4
3,CALIFORNIA,2022,2,Campylobacteriosis,30.0,249,83,135
4,CALIFORNIA,2022,2,Coccidioidomycosis,8.0,206,20,273

In [12]:
df = df.drop(["Previous 52 week Max", "Cumulative YTD Current MMWR Year", "Cumulative YTD Previous MMWR Year"], axis = 1)

KeyError: "['Previous 52 week Max', 'Cumulative YTD Current MMWR Year', 'Cumulative YTD Previous MMWR Year'] not found in axis"

In [11]:
df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0
2,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0
3,CALIFORNIA,2022,2,Campylobacteriosis,30.0
4,CALIFORNIA,2022,2,Coccidioidomycosis,8.0

In [13]:
df = df.rename(columns={
    "Reporting Area": "REGION",
    "Current MMWR Year": "YEAR",
    "MMWR WEEK": "WEEK",
    "Label": "LABEL",
    "Current week": "TOTAL CASES",
})

In [14]:
df.head()

,REGION,YEAR,WEEK,LABEL,TOTAL CASES
0,CALIFORNIA,2022,1,Campylobacteriosis,47.0
1,CALIFORNIA,2022,1,Coccidioidomycosis,10.0
2,CALIFORNIA,2022,1,Salmonellosis (excluding Salmonella Typhi infe...,1.0
3,CALIFORNIA,2022,2,Campylobacteriosis,30.0
4,CALIFORNIA,2022,2,Coccidioidomycosis,8.0

In [15]:
df.to_csv('df-2225.csv', index=False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       720 non-null    object
 1   YEAR         720 non-null    int64
 2   WEEK         720 non-null    int64
 3   LABEL        720 non-null    object
 4   TOTAL CASES  690 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 28.3+ KB