In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/ca-flu-1525.csv")
df.head()

,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,California,2015,40,683,2,0,0.29,0.29,0.0
1,California,2015,41,661,3,2,0.76,0.45,0.3
2,California,2015,42,609,2,0,0.33,0.33,0.0
3,California,2015,43,677,0,0,0.00,0.00,0.0
4,California,2015,44,811,9,0,1.11,1.11,0.0

In [3]:
df.shape

(520, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGION            520 non-null    object
 1   YEAR              520 non-null    int64
 2   WEEK              520 non-null    int64
 3   TOTAL SPECIMENS   520 non-null    int64
 4   TOTAL A           520 non-null    int64
 5   TOTAL B           520 non-null    int64
 6   PERCENT POSITIVE  520 non-null    float64
 7   PERCENT A         520 non-null    float64
 8   PERCENT B         520 non-null    float64
dtypes: float64(3), int64(5), object(1)
memory usage: 36.7+ KB

In [5]:
df.describe()

,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
count,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000
mean,2020.240385,26.526923,4905.980769,391.492308,77.490385,5.458269,4.083192,1.375058
std,2.900054,15.057732,6940.558054,1157.956422,211.788166,7.323690,5.864615,2.745423
min,2015.000000,1.000000,182.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.000000,13.750000,728.750000,4.000000,1.000000,0.740000,0.517500,0.020000
50%,2020.000000,26.500000,2020.000000,29.000000,4.000000,1.875000,1.330000,0.265000
75%,2023.000000,40.000000,5748.750000,183.750000,23.000000,7.275000,5.077500,1.060000
max,2025.000000,53.000000,36660.000000,9012.000000,1614.000000,38.780000,32.640000,19.850000

In [6]:
df = df.drop("PERCENT A", axis=1)

In [7]:
df = df.drop("PERCENT B", axis=1)

In [8]:
df["TOTAL CASES"] = df["TOTAL A"] + df["TOTAL B"]
df = df.drop(["TOTAL A", "TOTAL B"], axis = 1)
df.head()

       REGION  YEAR  WEEK  TOTAL SPECIMENS  PERCENT POSITIVE  TOTAL CASES
0  California  2015    40              683              0.29            2
1  California  2015    41              661              0.76            5
2  California  2015    42              609              0.33            2
3  California  2015    43              677              0.00            0
4  California  2015    44              811              1.11            9

In [9]:
df = df[['REGION', 'YEAR', 'WEEK', 'TOTAL SPECIMENS', "TOTAL CASES", "PERCENT POSITIVE"]]
df.insert(3, "LABEL", "influenza") 
df.head()

,REGION,YEAR,WEEK,LABEL,TOTAL SPECIMENS,TOTAL CASES,PERCENT POSITIVE
0,California,2015,40,influenza,683,2,0.29
1,California,2015,41,influenza,661,5,0.76
2,California,2015,42,influenza,609,2,0.33
3,California,2015,43,influenza,677,0,0.00
4,California,2015,44,influenza,811,9,1.11

In [10]:
df = df.drop(["TOTAL SPECIMENS", "PERCENT POSITIVE"], axis = 1)

In [11]:
df.head()

       REGION  YEAR  WEEK      LABEL  TOTAL CASES
0  California  2015    40  influenza            2
1  California  2015    41  influenza            5
2  California  2015    42  influenza            2
3  California  2015    43  influenza            0
4  California  2015    44  influenza            9

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       520 non-null    object
 1   YEAR         520 non-null    int64
 2   WEEK         520 non-null    int64
 3   LABEL        520 non-null    object
 4   TOTAL CASES  520 non-null    int64
dtypes: int64(3), object(2)
memory usage: 20.4+ KB