In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/ca-ppt-1525.csv")
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP
0,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2015-09-28,0.00
1,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2015-09-29,0.00
2,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2015-09-30,0.05
3,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2015-10-01,0.00
4,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2015-10-02,0.00

In [ ]:
df = df.drop(["STATION", "NAME", "LATITUDE", "LONGITUDE", "ELEVATION"], axis=1)

In [8]:
df["DATE"] = pd.to_datetime(df["DATE"])
df["YEAR"] = df["DATE"].dt.isocalendar().year
df["WEEK"] = df["DATE"].dt.isocalendar().week
df.head()

        DATE  PRCP  YEAR  WEEK
0 2015-09-28  0.00  2015    40
1 2015-09-29  0.00  2015    40
2 2015-09-30  0.05  2015    40
3 2015-10-01  0.00  2015    40
4 2015-10-02  0.00  2015    40

In [ ]:
df.tail()

           DATE  PRCP  YEAR  WEEK
3635 2025-09-17   0.0  2025    38
3636 2025-09-18   0.0  2025    38
3637 2025-09-19   0.0  2025    38
3638 2025-09-20   0.0  2025    38
3639 2025-09-21   0.0  2025    38

In [11]:
df = df.drop(["DATE"], axis=1)

In [12]:
column_order = [
    "YEAR",
    "WEEK",
    "PRCP",
]

df = df[column_order]
df.head()

   YEAR  WEEK  PRCP
0  2015    40  0.00
1  2015    40  0.00
2  2015    40  0.05
3  2015    40  0.00
4  2015    40  0.00

In [13]:
df = df.groupby = df.groupby(["YEAR", "WEEK"]).agg({
    "PRCP": "sum"
}).reset_index()
df.head()

   YEAR  WEEK  PRCP
0  2015    40  0.05
1  2015    41  0.00
2  2015    42  0.00
3  2015    43  0.00
4  2015    44  0.05

In [14]:
df.to_csv("df-ppt-1525.csv", index=False)