In [ ]:
import pandas as pd

In [21]:
df = pd.read_csv("../data/raw/ca-temp-1525.csv")
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TMAX,TMIN
0,USR0000CBNL,"BEN LOMOND CALIFORNIA, CA US",37.1317,-122.17,801.6,2015-01-01,6.0,11.1,3.3
1,USR0000CBNL,"BEN LOMOND CALIFORNIA, CA US",37.1317,-122.17,801.6,2015-01-02,5.2,10.6,2.2
2,USR0000CBNL,"BEN LOMOND CALIFORNIA, CA US",37.1317,-122.17,801.6,2015-01-03,7.9,12.8,3.3
3,USR0000CBNL,"BEN LOMOND CALIFORNIA, CA US",37.1317,-122.17,801.6,2015-01-04,11.2,16.1,6.7
4,USR0000CBNL,"BEN LOMOND CALIFORNIA, CA US",37.1317,-122.17,801.6,2015-01-05,16.7,20.6,13.3

In [22]:
df = df.drop(["STATION", "NAME", "LATITUDE", "LONGITUDE", "ELEVATION"], axis=1)

In [23]:
df.head()

         DATE  TAVG  TMAX  TMIN
0  2015-01-01   6.0  11.1   3.3
1  2015-01-02   5.2  10.6   2.2
2  2015-01-03   7.9  12.8   3.3
3  2015-01-04  11.2  16.1   6.7
4  2015-01-05  16.7  20.6  13.3

In [24]:
df["DATE"] = pd.to_datetime(df["DATE"])
df["YEAR"] = df["DATE"].dt.isocalendar().year
df["WEEK"] = df["DATE"].dt.isocalendar().week
df.head()

        DATE  TAVG  TMAX  TMIN  YEAR  WEEK
0 2015-01-01   6.0  11.1   3.3  2015     1
1 2015-01-02   5.2  10.6   2.2  2015     1
2 2015-01-03   7.9  12.8   3.3  2015     1
3 2015-01-04  11.2  16.1   6.7  2015     1
4 2015-01-05  16.7  20.6  13.3  2015     2

In [25]:
df = df.groupby(["YEAR", "WEEK"]).agg({
    "TAVG": "mean",
    "TMAX": "max",
    "TMIN": "min"
}).reset_index()
df.head()

   YEAR  WEEK       TAVG  TMAX  TMIN
0  2015     1   7.575000  16.1   2.2
1  2015     2  15.457143  22.8   7.8
2  2015     3  12.071429  18.9   7.8
3  2015     4  13.828571  24.4   7.2
4  2015     5  13.714286  21.7   8.9

In [29]:
print(df.columns.tolist())

['YEAR', 'WEEK', 'TAVG', 'TMAX', 'TMIN']

In [32]:
df = df[(df['YEAR'] > 2015) | ((df['YEAR'] == 2015) & (df['WEEK'] >= 40))]
df.head()

    YEAR  WEEK       TAVG  TMAX  TMIN
39  2015    40  16.971429  25.0   7.8
40  2015    41  20.042857  28.9  10.6
41  2015    42  19.757143  31.7  10.0
42  2015    43  17.571429  25.0  10.6
43  2015    44  17.242857  27.8  10.0

In [ ]:
df.to_csv("df-temp-1525.csv", index=False)