In [16]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_validate
from sklearn.dummy import DummyClassifier

In [2]:
df = pd.read_csv("../data/processed/test_dataset.csv")
df.head()

,WEEK_SIN,WEEK_COS,INFLUENZA,COCCIDIOIDOMYCOSIS,CAMPYLOBACTERIOSIS,SALMONELLOSIS,PREV1_CASES,PREV2_CASES,4_WEEK_AVG,TAVG,TMAX,TMIN,PRCP,FUTURE_OUTBREAK
0,0.120537,0.992709,0.0,0.0,1.0,0.0,0.0,0.0,47.000000,8.714286,16.7,3.9,0.61,0.0
1,0.239316,0.970942,0.0,0.0,1.0,0.0,47.0,0.0,38.500000,13.642857,18.9,8.9,0.00,0.0
2,0.354605,0.935016,0.0,0.0,1.0,0.0,30.0,47.0,25.666667,11.857143,18.9,7.2,0.00,0.0
3,0.464723,0.885456,0.0,0.0,1.0,0.0,0.0,30.0,19.750000,11.642857,17.2,7.2,0.00,0.0
4,0.568065,0.822984,0.0,0.0,1.0,0.0,2.0,0.0,14.750000,10.257143,18.9,3.9,0.00,0.0

In [3]:
df["FUTURE_OUTBREAK"].value_counts()

FUTURE_OUTBREAK
0.0    823
1.0    272
Name: count, dtype: int64

fairly unbalanced dataset, plus catching outbreaks more important, so will use class_weight=balanced when training classifier

in addition, will try optimizing for f1 score (optimizing precision and recall) instead of optimizing for accuracy

In [7]:
y = df["FUTURE_OUTBREAK"]
X = df.drop("FUTURE_OUTBREAK", axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=67
)

In [20]:
dummy = DummyClassifier()
dummy_df = pd.DataFrame(cross_validate(dummy, X_train, y_train, return_train_score=True))
dummy_df

   fit_time  score_time  test_score  train_score
0  0.000546    0.000832    0.750000     0.751429
1  0.000391    0.000403    0.748571     0.751783
2  0.000422    0.000887    0.748571     0.751783
3  0.000486    0.000493    0.754286     0.750357
4  0.000356    0.000365    0.754286     0.750357

dummy classifier always predicts 0, so gets 0.75 accuracy, but 0 precision and 0 recall