In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df1 = pd.read_csv("df-2225.csv")
df2 = pd.read_csv("df-flu-1525.csv")

In [23]:
df = pd.concat([df1, df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       1240 non-null   object
 1   YEAR         1240 non-null   int64
 2   WEEK         1240 non-null   int64
 3   LABEL        1240 non-null   object
 4   TOTAL CASES  1210 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 48.6+ KB

In [24]:
df["LABEL"] = df["LABEL"].replace("Salmonellosis (excluding Salmonella Typhi infection and Salmonella Paratyphi infection)", "Salmonellosis")
df.head()

       REGION  YEAR  WEEK               LABEL  TOTAL CASES
0  CALIFORNIA  2022     1  Campylobacteriosis         47.0
1  CALIFORNIA  2022     1  Coccidioidomycosis         10.0
2  CALIFORNIA  2022     1       Salmonellosis          1.0
3  CALIFORNIA  2022     2  Campylobacteriosis         30.0
4  CALIFORNIA  2022     2  Coccidioidomycosis          8.0

In [25]:
df["LABEL"].unique()

array(['Campylobacteriosis', 'Coccidioidomycosis', 'Salmonellosis',
       'Coccidioidomycosis, Confirmed', 'Coccidioidomycosis, total',
       'Coccidioidomycosis, Total', 'influenza'], dtype=object)

In [28]:
conf = df[df["LABEL"] == "Coccidioidomycosis, Confirmed"]
total = df[df["LABEL"] == "Coccidioidomycosis, total"]
Total = df[df["LABEL"] == "Coccidioidomycosis, Total"]

In [27]:
conf.head()

         REGION  YEAR  WEEK                          LABEL  TOTAL CASES
157  CALIFORNIA  2023     1  Coccidioidomycosis, Confirmed         25.0
161  CALIFORNIA  2023     2  Coccidioidomycosis, Confirmed         44.0
165  CALIFORNIA  2023     3  Coccidioidomycosis, Confirmed         23.0
169  CALIFORNIA  2023     4  Coccidioidomycosis, Confirmed         53.0
173  CALIFORNIA  2023     5  Coccidioidomycosis, Confirmed         35.0

In [29]:
total.head()

         REGION  YEAR  WEEK                      LABEL  TOTAL CASES
158  CALIFORNIA  2023     1  Coccidioidomycosis, total         25.0
162  CALIFORNIA  2023     2  Coccidioidomycosis, total         44.0
166  CALIFORNIA  2023     3  Coccidioidomycosis, total         23.0
170  CALIFORNIA  2023     4  Coccidioidomycosis, total         53.0
174  CALIFORNIA  2023     5  Coccidioidomycosis, total         35.0

In [30]:
Total.head()

         REGION  YEAR  WEEK                      LABEL  TOTAL CASES
570  California  2025     1  Coccidioidomycosis, Total         17.0
574  California  2025     2  Coccidioidomycosis, Total         56.0
578  California  2025     3  Coccidioidomycosis, Total         46.0
582  California  2025     4  Coccidioidomycosis, Total         39.0
586  California  2025     5  Coccidioidomycosis, Total         55.0

In [34]:
conf.info()
total.info()
Total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 157 to 717
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       141 non-null    object
 1   YEAR         141 non-null    int64
 2   WEEK         141 non-null    int64
 3   LABEL        141 non-null    object
 4   TOTAL CASES  141 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, 158 to 566
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       103 non-null    object
 1   YEAR         103 non-null    int64
 2   WEEK         103 non-null    int64
 3   LABEL        103 non-null    object
 4   TOTAL CASES  103 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 570 to 718
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       38 non-null     object
 1   YEAR         38 non-null     int64
 2   WEEK         38 non-null     int64
 3   LABEL        38 non-null     object
 4   TOTAL CASES  38 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.8+ KB

In [ ]:
Total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 570 to 718
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       38 non-null     object
 1   YEAR         38 non-null     int64
 2   WEEK         38 non-null     int64
 3   LABEL        38 non-null     object
 4   TOTAL CASES  38 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.8+ KB

In [35]:
new_total = pd.concat([total, Total], ignore_index=False)

In [36]:
new_total.head()

         REGION  YEAR  WEEK                      LABEL  TOTAL CASES
158  CALIFORNIA  2023     1  Coccidioidomycosis, total         25.0
162  CALIFORNIA  2023     2  Coccidioidomycosis, total         44.0
166  CALIFORNIA  2023     3  Coccidioidomycosis, total         23.0
170  CALIFORNIA  2023     4  Coccidioidomycosis, total         53.0
174  CALIFORNIA  2023     5  Coccidioidomycosis, total         35.0

In [37]:
new_total["LABEL"].unique()

array(['Coccidioidomycosis, total', 'Coccidioidomycosis, Total'],
      dtype=object)

In [38]:
new_total["LABEL"] = new_total["LABEL"].replace("Coccidioidomycosis, total", "Coccidioidomycosis, Total")
new_total["LABEL"].unique()

array(['Coccidioidomycosis, Total'], dtype=object)

In [40]:
conf.info()
print("==============")
new_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 157 to 717
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       141 non-null    object
 1   YEAR         141 non-null    int64
 2   WEEK         141 non-null    int64
 3   LABEL        141 non-null    object
 4   TOTAL CASES  141 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.6+ KB
==============
<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 158 to 718
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       141 non-null    object
 1   YEAR         141 non-null    int64
 2   WEEK         141 non-null    int64
 3   LABEL        141 non-null    object
 4   TOTAL CASES  141 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.6+ KB

In [ ]:
conf = conf.drop(columns=["LABEL"])
new_total = new_total.drop(columns=["LABEL"])

In [49]:
conf = conf.reset_index(drop=True)
new_total = new_total.reset_index(drop=True)

In [51]:
conf.head()

       REGION  YEAR  WEEK  TOTAL CASES
0  CALIFORNIA  2023     1         25.0
1  CALIFORNIA  2023     2         44.0
2  CALIFORNIA  2023     3         23.0
3  CALIFORNIA  2023     4         53.0
4  CALIFORNIA  2023     5         35.0

In [50]:
new_total.head()

       REGION  YEAR  WEEK  TOTAL CASES
0  CALIFORNIA  2023     1         25.0
1  CALIFORNIA  2023     2         44.0
2  CALIFORNIA  2023     3         23.0
3  CALIFORNIA  2023     4         53.0
4  CALIFORNIA  2023     5         35.0

In [52]:
conf.equals(new_total)

True

In [ ]:
df = df[df["LABEL"] != 'Coccidioidomycosis, Confirmed']

In [ ]:
new_total["LABEL"] = new_total["LABEL"].replace("Coccidioidomycosis, total", "Coccidioidomycosis")
new_total["LABEL"] = new_total["LABEL"].replace("Coccidioidomycosis, Total", "Coccidioidomycosis")