#### Merging ca-flu-1525 and ca-2225

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df1 = pd.read_csv("df-2225.csv")
df2 = pd.read_csv("df-flu-1525.csv")

In [23]:
df = pd.concat([df1, df2], ignore_index=True)
df.info()

In [24]:
df["LABEL"] = df["LABEL"].replace("Salmonellosis (excluding Salmonella Typhi infection and Salmonella Paratyphi infection)", "Salmonellosis")
df.head()

In [25]:
df["LABEL"].unique()

#### Removing duplicate rows

In [28]:
conf = df[df["LABEL"] == "Coccidioidomycosis, Confirmed"]
total = df[df["LABEL"] == "Coccidioidomycosis, total"]
Total = df[df["LABEL"] == "Coccidioidomycosis, Total"]

In [27]:
conf.head()

In [29]:
total.head()

In [30]:
Total.head()

In [34]:
conf.info()
total.info()
Total.info()

In [35]:
new_total = pd.concat([total, Total], ignore_index=False)

In [36]:
new_total.head()

In [37]:
new_total["LABEL"].unique()

In [38]:
new_total["LABEL"] = new_total["LABEL"].replace("Coccidioidomycosis, total", "Coccidioidomycosis, Total")
new_total["LABEL"].unique()

In [40]:
conf.info()
print("==============")
new_total.info()

In [ ]:
conf = conf.drop(columns=["LABEL"])
new_total = new_total.drop(columns=["LABEL"])

In [49]:
conf = conf.reset_index(drop=True)
new_total = new_total.reset_index(drop=True)

In [51]:
conf.head()

In [50]:
new_total.head()

In [52]:
conf.equals(new_total)

In [ ]:
df = df[df["LABEL"] != 'Coccidioidomycosis, Confirmed']

In [62]:
df["LABEL"] = df["LABEL"].replace("Coccidioidomycosis, total", "Coccidioidomycosis")
df["LABEL"] = df["LABEL"].replace("Coccidioidomycosis, Total", "Coccidioidomycosis")
df["LABEL"] = df["LABEL"].replace("influenza", "Influenza")

In [63]:
df["LABEL"].unique()

In [73]:
df = df.sort_values(["YEAR", "WEEK"]).reset_index(drop=True)
df.head(25)

        REGION  YEAR  WEEK      LABEL  TOTAL CASES
0   California  2015    40  Influenza          2.0
1   California  2015    41  Influenza          5.0
2   California  2015    42  Influenza          2.0
3   California  2015    43  Influenza          0.0
4   California  2015    44  Influenza          9.0
5   California  2015    45  Influenza          9.0
6   California  2015    46  Influenza          6.0
7   California  2015    47  Influenza          5.0
8   California  2015    48  Influenza         16.0
9   California  2015    49  Influenza          9.0
10  California  2015    50  Influenza         19.0
11  California  2015    51  Influenza         40.0
12  California  2015    52  Influenza         52.0
13  California  2016     1  Influenza        120.0
14  California  2016     2  Influenza        148.0
15  California  2016     3  Influenza        205.0
16  California  2016     4  Influenza        255.0
17  California  2016     5  Influenza        305.0
18  California  2016     6  Influenza        499.0
19  California  2016     7  Influenza        609.0
20  California  2016     8  Influenza        592.0
21  California  2016     9  Influenza        569.0
22  California  2016    10  Influenza        400.0
23  California  2016    11  Influenza        286.0
24  California  2016    12  Influenza        207.0

In [74]:
df.to_csv('test.csv', index=False)

#### Add data

In [79]:
df_temp = pd.read_csv("df-temp-1525.csv")
df = df.merge(
    df_temp,
    on=["YEAR", "WEEK"],
    how="left"
)
df.head()

,REGION,YEAR,WEEK,LABEL,TOTAL CASES,TAVG_x,TMAX_x,TMIN_x,TAVG_y,TMAX_y,TMIN_y
0,California,2015,40,Influenza,2.0,16.971429,25.0,7.8,16.971429,25.0,7.8
1,California,2015,41,Influenza,5.0,20.042857,28.9,10.6,20.042857,28.9,10.6
2,California,2015,42,Influenza,2.0,19.757143,31.7,10.0,19.757143,31.7,10.0
3,California,2015,43,Influenza,0.0,17.571429,25.0,10.6,17.571429,25.0,10.6
4,California,2015,44,Influenza,9.0,17.242857,27.8,10.0,17.242857,27.8,10.0

In [ ]:
df = df.drop(columns=["TAVG_y", "TMAX_y", "TMIN_y"])
df = df.rename(columns={
    "TAVG_y": "TAVG",
    "TMAX_y": "TMAX",
    "TMIN_y": "TMIN",
})