In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv("df-2225.csv")
df2 = pd.read_csv("df-flu-1525.csv")

In [5]:
df = pd.concat([df1, df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   REGION       1240 non-null   object
 1   YEAR         1240 non-null   int64
 2   WEEK         1240 non-null   int64
 3   LABEL        1240 non-null   object
 4   TOTAL CASES  1210 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 48.6+ KB

In [6]:
df.describe()

              YEAR         WEEK  TOTAL CASES
count  1240.000000  1240.000000  1210.000000
mean   2022.129839    25.700000   240.338017
std       2.597276    14.778712   856.112458
min    2015.000000     1.000000     0.000000
25%    2021.000000    13.000000    21.000000
50%    2023.000000    25.000000    47.000000
75%    2024.000000    38.000000   127.000000
max    2025.000000    53.000000  9975.000000